@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #c849e7 1.84%, #c28f31 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #c849e7 -13.86%, #c28f31 99.55%);

  --color-bg: #3a3e44;
  --color-footer: #3ea57d;
  --color-blog: #042c54;
  --color-text: #95c3e9;
  --color-subtext: #ff8a71;
}
